config.env
__pycache__/*
wolfuserbot.db
wolfuserbot.session
wolfuserbot.session-journal
wolfuserbot/__pycache__/*
wolfuserbot/modules/__pycache__/*
wolfuserbot/modules/sql_helper/__pycache__/*
.progress
.vscode/*
bin/*
TG_BOT_TOKEN.session
